airflow[crypto,celery,postgres,jdbc]==1.8.0
celery[redis]==4.0.2
psycopg2
# airflow[crypto,celery,postgres,hive,hdfs,jdbc]
Cython
pytz
pyOpenSSL
ndg-httpsclient
pyasn1
# sasl
# psycopg2
# rauth
# flask-sslify
# Cython
# pytz
# ndg-httpsclient
# pyasn1
